.button{
    background-color:hsl(-20, 100%, 60%);
    border: none;
    font-size: 24px;
    color:white;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
  }

.button2{
    background-color:hsl(150, 100%, 60%);
    border: none;
    font-size: 24px;
    color:white;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
  }